<div class="container">
  <div class="row mt-3">
    <div
      class="col-lg-3 d-flex flex-column gap-2 justify-content-start align-items-center"
    >
      <button
        type="button"
        class="btn btn-outline-primary w-100"
        [routerLink]="['/']"
      >
        <i class="bi bi-house"></i>
        Home
      </button>
      <img
        *ngIf="isLoading; else loadingImg"
        src="{{ imgUrl }}"
        alt="avartar user"
        class="image-user text-center"
      />
      <ng-template #loadingImg>
        <div class="placeholder-glow">
          <span class="placeholder image-user"></span>
        </div>
      </ng-template>
      <div class="text-center fs-4">{{ owner }}/{{ repo }}</div>
    </div>
    <div class="col-lg-9">
      <div class="d-flex gap-2 border-bottom border-dark">
        <h3 class="bi bi-journal-bookmark"></h3>
        <h3>Top 10 lastest commits</h3>
      </div>
      <div *ngIf="isLoading; else loadingTemp">
        <ng-container *ngIf="commitsData.length > 0; else emptyCommit">
          <app-commit-item
            *ngFor="let commit of commitsData; index as i"
            [commit]="commit"
            [index]="i"
            [owner]="owner"
            [repo]="repo"
          ></app-commit-item>
        </ng-container>
        <ng-template #emptyCommit>
          <span class="text-danger fst-italic"
            >This Repository has not commit !</span
          >
        </ng-template>
      </div>
      <ng-template #loadingTemp>
        <app-loading></app-loading>
      </ng-template>
    </div>
  </div>
</div>
